@import "./vars.css";

/*
--main-bg-color: whitesmoke;
--main-font-color: #111;
--secondary-font-color: rgba(13,56,128);
*/

.title {
    color: var(--secondary-font-color);
    font-size: 160%;
    text-align: center;
}

@media (min-width: 600px) {
  .card {
    margin-right: 1vw;
    border-style: solid;
    border-color: rgba(0, 0, 255, 0.123);
  }

  .section_container {
    flex-direction: row !important;
  }
}

@media (max-width: 600px) {
  .card {
    margin-top: 5vh;
  }

}

.section_container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}